{% extends "ndmu/base.html" %}
{% block content %}
<br>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

</style>

<br>

<h1>Administration</h1>
<div class="entry-content">
<p style="text-align: center;"><span style="color: #008000;"><strong><span style="font-size: 20px;">SCHOOL OFFICIALS FOR SCHOOL YEAR 2018 &#8211; 2019</span></strong></span></p>
<h4><strong><span style="font-size: 16px;">INSTITUTIONAL AND COLLEGE DEPARTMENT</span></strong></h4>
<table style="width: 736px;">
<tbody>
<tr>
<td style="width: 208px;">NAME</td>
<td style="width: 292px;">OFFICE</td>
<td style="width: 216px;">TERM (SY)</td>
</tr>
<tr>
<td style="width: 208px;"><strong>Bro. Wilfredo Lubrico, FMS, PhD</strong></td>
<td style="width: 292px;"><span style="color: #999999;">President</span></td>
<td style="width: 216px;"><span style="color: #999999;" />2017-2020</td>
</tr>
<tr>
<td style="width: 208px;"><strong>Joan Palma, PhD</strong></td>
<td style="width: 292px;"><span style="color: #999999;">Academic Vice-President (Acting)</span></td>
<td style="width: 216px;"><span style="color: #999999;" />2018-2019</td>
</tr>
<tr>
<td style="width: 208px;"><strong>Andres Magallanes, Jr., PhD</strong></td>
<td style="width: 292px;"><span style="color: #999999;">Administrative Vice-President, Planning and Quality Assurance Officer</span></td>
<td style="width: 216px;"><span style="color: #999999;" />2018-2019</td>
</tr>
<tr>
<td style="width: 208px;"><strong>Fely Ardina, CPA, MBA</strong></td>
<td style="width: 292px;"><span style="color: #999999;">Finance Officer/Comptroller</span></td>
<td style="width: 216px;"><span style="color: #999999;" />2018-2020</td>
</tr>
</tbody>
</table>
<br>
<p><span style="font-size: 16px;"><strong>Deans:</strong></span></p>
<table style="width: 736px;">
<tbody>
<tr>
<td style="width: 209px;">Juvy Reyes, PhD</td>
<td style="width: 294px;"><span style="color: #999999;">Graduate School (Acting)</span></td>
<td style="width: 219px;"><span style="color: #999999;" />2018-2019</td>
</tr>
<tr>
<td style="width: 209px;">Debie Mendoza, DM</td>
<td style="width: 294px;"><span style="color: #999999;">College of Business Admin.</span></td>
<td style="width: 219px;"><span style="color: #999999;" />2017-2020</td>
</tr>
<tr>
<td style="width: 209px;">Lynou Zacal, PhD</td>
<td style="width: 294px;"><span style="color: #999999;">College of Education</span></td>
<td style="width: 219px;"><span style="color: #999999;" />2017-2020</td>
</tr>
<tr>
<td style="width: 209px;">Loveleih Quemado, RSW, PhD</td>
<td style="width: 294px;"><span style="color: #999999;">College of Arts and Sciences (Acting)</span></td>
<td style="width: 219px;"><span style="color: #999999;" />2018-2019</td>
</tr>
<tr>
<td style="width: 209px;">Victorino Tobias, Jr., RECE, MEP-ECE</td>
<td style="width: 294px;"><span style="color: #999999;">College of Engineering and Technology</span></td>
<td style="width: 219px;"><span style="color: #999999;">2016-2019</span></td>
</tr>
</tbody>
</table>
<br>
<p><strong>Directors/Coordinators:</strong></p>
<table style="width: 734px;">
<tbody>
<tr style="height: 23px;">
<td style="width: 209px; height: 23px;">Bro. Allan de Castro, FMS</td>
<td style="width: 291px; height: 23px;"><span style="color: #999999;">Director, CMRE and CM Coordinator</span></td>
<td style="width: 214px; height: 23px;"><span style="color: #999999;">2016-2019</span></td>
</tr>
<tr style="height: 23px;">
<td style="width: 209px; height: 23px;">Myra Morta</td>
<td style="width: 291px; height: 23px;"><span style="color: #999999;">Director, Libraries and EMC (Acting)</span></td>
<td style="width: 214px; height: 23px;"><span style="color: #999999;">2016-2019</span></td>
</tr>
<tr style="height: 23px;">
<td style="width: 209px; height: 23px;">Romeo Babar, MExt. Adm.</td>
<td style="width: 291px; height: 23px;"><span style="color: #999999;">Director, CCC</span></td>
<td style="width: 214px; height: 23px;"><span style="color: #999999;">2016-2019</span></td>
</tr>
<tr style="height: 23px;">
<td style="width: 209px; height: 23px;">Shiela Bayog, MPA</td>
<td style="width: 291px; height: 23px;"><span style="color: #999999;">Director, Research and Publication Center</span></td>
<td style="width: 214px; height: 23px;"><span style="color: #999999;">2017-2020</span></td>
</tr>
<tr style="height: 23px;">
<td style="width: 209px; height: 23px;">Joriel Tiba, MIT</td>
<td style="width: 291px; height: 23px;"><span style="color: #999999;">Director, Computer Science Center</span></td>
<td style="width: 214px; height: 23px;"><span style="color: #999999;">2017-2020</span></td>
</tr>
<tr style="height: 23px;">
<td style="width: 209px; height: 23px;">Elma Rafil, MS</td>
<td style="width: 291px; height: 23px;"><span style="color: #999999;">Personnel Officer</span></td>
<td style="width: 214px; height: 23px;"><span style="color: #999999;">2016-2019</span></td>
</tr>
<tr style="height: 46.875px;">
<td style="width: 209px; height: 46.875px;">Wilter Friales, PhD</td>
<td style="width: 291px; height: 46.875px;"><span style="color: #999999;">Director, Student Affairs and Development &amp; Prefect of Discipline</span></td>
<td style="width: 214px; height: 46.875px;"><span style="color: #999999;">2016-2019</span></td>
</tr>
<tr style="height: 46px;">
<td style="width: 209px; height: 46px;">Elaine Labiao, RGC, MA</td>
<td style="width: 291px; height: 46px;"><span style="color: #999999;">Director, Guidance and Testing Center and     Coordinator, Scholarship Program</span></td>
<td style="width: 214px; height: 46px;"><span style="color: #999999;">2018-2021</span></td>
</tr>
<tr style="height: 23px;">
<td style="width: 209px; height: 23px;">Ruel Biboso, MBA</td>
<td style="width: 291px; height: 23px;"><span style="color: #999999;">College Registrar</span></td>
<td style="width: 214px; height: 23px;"><span style="color: #999999;" />2018-2021</td>
</tr>
<tr style="height: 23px;">
<td style="width: 209px; height: 23px;">Sr. Esther Rule, OND, MA</td>
<td style="width: 291px; height: 23px;"><span style="color: #999999;">Women Advocacy Center Coordinator (Acting)</span></td>
<td style="width: 214px; height: 23px;"><span style="color: #999999;">2018-2019</span></td>
</tr>
<tr style="height: 23px;">
<td style="width: 209px; height: 23px;">Jethro Carl Arandallo</td>
<td style="width: 291px; height: 23px;"><span style="color: #999999;" />Coordinator, Athletics and Sports (Acting)</td>
<td style="width: 214px; height: 23px;"><span style="color: #999999;">2018-2019</span></td>
</tr>
<tr style="height: 23px;">
<td style="width: 209px; height: 23px;">Relin Navarro, MA</td>
<td style="width: 291px; height: 23px;"><span style="color: #999999;" />Coordinator, College Campus Night Session</td>
<td style="width: 214px; height: 23px;"><span style="color: #999999;">2016-2019</span></td>
</tr>
<tr style="height: 23px;">
<td style="width: 209px; height: 23px;">Mr. Francis Ian Calixtro</td>
<td style="width: 291px; height: 23px;"><span style="color: #999999;" />Physical Plant &amp; Security In-charge</td>
<td style="width: 214px; height: 23px;"><span style="color: #999999;">2016-2019</span></td>
</tr>
</tbody>
</table>
<br>
<p><strong><span style="font-size: 16px;">Program Coordinators:</span></strong></p>
<table style="width: 727px;">
<tbody>
<tr>
<td style="width: 208px;">Weny Panganiban, CPA, DBA</td>
<td style="width: 271px;"><span style="color: #999999;">Accountancy</span></td>
<td style="width: 209px;"><span style="color: #999999;">2015-2018</span></td>
</tr>
<tr>
<td style="width: 208px;">Brenda Balala, MIT</td>
<td style="width: 271px;"><span style="color: #999999;">Computer Studies</span></td>
<td style="width: 209px;"><span style="color: #999999;">2016-2019</span></td>
</tr>
<tr>
<td style="width: 208px;">Estherbelle Vinson, MBA-HRM</td>
<td style="width: 271px;"><span style="color: #999999;">HRM</span></td>
<td style="width: 209px;"><span style="color: #999999;">2017-2020</span></td>
</tr>
<tr>
<td style="width: 208px;">Nenita Condesa, MA</td>
<td style="width: 271px;"><span style="color: #999999;">Criminology</span></td>
<td style="width: 209px;"><span style="color: #999999;">2016-2019</span></td>
</tr>
<tr>
<td style="width: 208px;">Al Quillope, PhD</td>
<td style="width: 271px;"><span style="color: #999999;">Social Sciences (Acting) and Center for Peace and Environment Coordinator and Farm in-charge</span></td>
<td style="width: 209px;"><span style="color: #999999;">2017-2020</span></td>
</tr>
<tr>
<td style="width: 208px;">Hazel Granil, RMT, MIB, MSMT</td>
<td style="width: 271px;"><span style="color: #999999;">Medical Technology</span></td>
<td style="width: 209px;"><span style="color: #999999;">2016-2019</span></td>
</tr>
<tr>
<td style="width: 208px;">Merna Lebanan, MAN</td>
<td style="width: 271px;"><span style="color: #999999;">Nursing</span></td>
<td style="width: 209px;"><span style="color: #999999;">2016-2019</span></td>
</tr>
<tr>
<td style="width: 208px;">Gina Lynn Galas, MA</td>
<td style="width: 271px;"><span style="color: #999999;">Religious Education</span></td>
<td style="width: 209px;"><span style="color: #999999;">2016-2019</span></td>
</tr>
<tr>
<td style="width: 208px;">Mrs. Ma. Magdalena Cobrador, MA</td>
<td style="width: 271px;"><span style="color: #999999;">Language</span></td>
<td style="width: 209px;"><span style="color: #999999;">2016-2019</span></td>
</tr>
<tr>
<td style="width: 208px;">Ernesto Guaro, Jr., REE, DoE</td>
<td style="width: 271px;"><span style="color: #999999;">Electrical Engineering</span></td>
<td style="width: 209px;"><span style="color: #999999;">2016-2019</span></td>
</tr>
<tr>
<td style="width: 208px;">Rachel Sucayan, RECE, MEP-ECE</td>
<td style="width: 271px;"><span style="color: #999999;">Computer Engineering/ECE</span></td>
<td style="width: 209px;"><span style="color: #999999;">2016-2019</span></td>
</tr>
<tr>
<td style="width: 208px;">Richard Barnachea, RCE, MEP-CE</td>
<td style="width: 271px;"><span style="color: #999999;">Civil Engineering</span></td>
<td style="width: 209px;"><span style="color: #999999;">2016-2019</span></td>
</tr>
<tr>
<td style="width: 208px;">Rodolfo Faldas, MBA</td>
<td style="width: 271px;"><span style="color: #999999;">Business Administration</span></td>
<td style="width: 209px;"><span style="color: #999999;">2016-2019</span></td>
</tr>
<tr>
<td style="width: 208px;">Marzokie Mocsir, RChE, RCh, MST</td>
<td style="width: 271px;"><span style="color: #999999;">Natural Science/Math</span></td>
<td style="width: 209px;"><span style="color: #999999;">2016-2019</span></td>
</tr>
</tbody>
</table>
<br>
<h4><strong>INTEGRATED BASIC EDUCATION DEPARTMENT</strong></h4>
<p><strong><span style="font-size: 16px;">IBED &#8211; Senior High School Department</span></strong></p>
<table style="width: 717px;">
<tbody>
<tr>
<td style="width: 210px;">Leann Jester Rosali, MS</td>
<td style="width: 289px;"><span style="color: #999999;" />Senior High School Principal</td>
<td style="width: 198px;"><span style="color: #999999;" />2017-2020</td>
</tr>
<tr>
<td style="width: 210px;">Welhilmina Tajo, MA</td>
<td style="width: 289px;"><span style="color: #999999;" />Prefect of Discipline</td>
<td style="width: 198px;"><span style="color: #999999;" />2017-2020</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p><strong><span style="font-size: 16px;">IBED &#8211; Elementary and High School Department</span></strong></p>
<table style="width: 716px;">
<tbody>
<tr>
<td style="width: 209px;">Allan Sumadic, MA</td>
<td style="width: 290px;"><span style="color: #999999;" />Elementary and High School Principal</td>
<td style="width: 197px;"><span style="color: #999999;" />2018-2021</td>
</tr>
<tr>
<td style="width: 209px;">Ma. Fe Lucia  Palma</td>
<td style="width: 290px;"><span style="color: #999999;" />Academic Coordinator, HS</td>
<td style="width: 197px;"><span style="color: #999999;" />2018-2021</td>
</tr>
<tr>
<td style="width: 209px;">Rona Hallarsis</td>
<td style="width: 290px;"><span style="color: #999999;" />Academic Coordinator, ES</td>
<td style="width: 197px;"><span style="color: #999999;" />2018-2021</td>
</tr>
</tbody>
</table>
<br>
<p><strong>Prefect of Discipline:</strong></p>
<table style="width: 713px;">
<tbody>
<tr>
<td style="width: 210px;">Apolinario Nana, Jr.</td>
<td style="width: 289px;"><span style="color: #999999;" />High School</td>
<td style="width: 194px;"><span style="color: #999999;" />2016-2019</td>
</tr>
<tr>
<td style="width: 210px;">Myra Pama</td>
<td style="width: 289px;"><span style="color: #999999;" />Elem. School</td>
<td style="width: 194px;"><span style="color: #999999;" />2016-2019</td>
</tr>
</tbody>
</table>
<br>
<p><strong>Subject Coordinators:</strong></p>
<table style="width: 713px;">
<tbody>
<tr style="height: 23px;">
<td style="height: 23px; width: 209px;">Cherry Castelo, MIM</td>
<td style="height: 23px; width: 291px;"><span style="color: #999999;" />Mathematics/TLE/ MAPEH</td>
<td style="height: 23px; width: 193px;"><span style="color: #999999;" />2016-2019</td>
</tr>
<tr style="height: 23px;">
<td style="height: 23px; width: 209px;">Elizabeth Rose Dominisac, MIB</td>
<td style="height: 23px; width: 291px;"><span style="color: #999999;" />Science  and Science Lab in-charge</td>
<td style="height: 23px; width: 193px;"><span style="color: #999999;" />2017-2020</td>
</tr>
<tr style="height: 23px;">
<td style="height: 23px; width: 209px;">Cecilia Abella</td>
<td style="height: 23px; width: 291px;"><span style="color: #999999;" />Languages</td>
<td style="height: 23px; width: 193px;"><span style="color: #999999;" />2017-2020</td>
</tr>
<tr style="height: 23.75px;">
<td style="height: 23.75px; width: 209px;">Aida Brasales</td>
<td style="height: 46.75px; width: 291px;" rowspan="2"><span style="color: #999999;" />Araling Panlipunan and Values Ed/Religion  and Coordinator, Afternoon Shift</td>
<td style="height: 23.75px; width: 193px;"><span style="color: #999999;" />2018-2021</td>
</tr>
<tr style="height: 23px;">
<td style="height: 23px; width: 209px;"></td>
<td style="height: 23px; width: 193px;"><span style="color: #999999;" />2017-2020</td>
</tr>
</tbody>
</table>
<br>
<p><strong>Coordinators:</strong></p>
<table style="width: 712px;">
<tbody>
<tr style="height: 23px;">
<td style="height: 23px; width: 209px;">Mark Dennis Rioja</td>
<td style="height: 23px; width: 290px;"><span style="color: #999999;" />Student Activity</td>
<td style="height: 23px; width: 193px;"><span style="color: #999999;" />2016-2019</td>
</tr>
<tr style="height: 22.75px;">
<td style="height: 22.75px; width: 209px;">Jovelyn Narte, MA</td>
<td style="height: 22.75px; width: 290px;"><span style="color: #999999;" />Campus Ministry</td>
<td style="height: 22.75px; width: 193px;"><span style="color: #999999;" />2018-2021</td>
</tr>
<tr style="height: 23px;">
<td style="height: 23px; width: 209px;">Ernesto Pajes</td>
<td style="height: 23px; width: 290px;"><span style="color: #999999;" />Sports</td>
<td style="height: 23px; width: 193px;"><span style="color: #999999;" />2017-2020</td>
</tr>
<tr style="height: 23px;">
<td style="height: 23px; width: 209px;">Belmar Sustiguer</td>
<td style="height: 23px; width: 290px;"><span style="color: #999999;" />Community Extension Services</td>
<td style="height: 23px; width: 193px;"><span style="color: #999999;" />2017-2020</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<table style="width: 718px;">
<tbody>
<tr>
<td style="width: 211px;">Fr. Jefil Callego</td>
<td style="width: 495px;"><span style="color: #999999;">Chaplain</span></td>
</tr>
<tr>
<td style="width: 211px;">Atty. Sylvie Blanche Tandog</td>
<td style="width: 495px;"><span style="color: #999999;">Legal Counsel</span></td>
</tr>
</tbody>
</table>
</div>
<br>
{% endblock content %}