{% extends "ndmu/base.html" %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<div id="main-content">


	<div class="container">
		<div id="content-area" class="clearfix">
			<div id="left-area">


			
				<article id="post-606" class="post-606 page type-page status-publish hentry">

				
					<h1 class="entry-title main_title">Citations and Awards</h1>
				
				
					<div class="entry-content">
					<div>
<div>
<div>
<div>
<ul>
<li><span style="color: #000000;">Center for Excellence in Teacher Education (COE-TE)</span></li>
<li><span style="color: #000000;">Center of Development for Excellence in Information Technology (CODE-IT) for Region IX</span></li>
<li><span style="color: #000000;">CHED – Zonal Research Center (ZRC) for Region XI, XII &amp; ARMM</span></li>
<li><span style="color: #000000;">Association of Catholic Universities in the Phils (ACUP) Center for Mindanao</span></li>
<li><span style="color: #000000;">Regional Science Teaching Center (DOST)</span></li>
<li><span style="color: #000000;">Expanded Tertiary Education Equivalency Accreditation Program (ETEEAP) Center</span></li>
<li><span style="color: #000000;">Satellite Office of the Department of Labor and Employment (DOLE – XI)</span></li>
<li><span style="color: #000000;">Lead Institution in Functional Literacy (Dep Ed &#8211; BNFE)</span></li>
<li><span style="color: #000000;">Center of Development for Excellence in Electrical Engineering (COD-EE)</span></li>
<li><span style="color: #000000;">Aurora Aragon Quezon National Peace Awardee</span></li>
<li><span style="color: #000000;">Small-Medium Enterprise Development (SMED) Center (DTI)</span></li>
<li><span style="color: #000000;">Region XII Outstanding Volunteer Program Awardee</span></li>
<li><span style="color: #000000;">2005 National Awardee on Volunteerism</span></li>
</ul>
</div>
</div>
</div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>


{% endblock content %}