{% extends "ndmu/base.html" %}
{% load static %}
{% block content %}
<hr class="featurette-divider">
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Contact Us</h1>
          <p>A list of contact numbers</p>
        </div>
      </section>
      <br>
<!--1st table-->
<div class="container">
  <div class="row">
    <div class="col-sm">
<p class="rteindent1"><strong>The Guidance Scholarship and Testing Center</strong><br />
Notre Dame of Marbel University<br />
Alunan Avenue, City of Koronadal, South Cotabato<br />
9506 Philippines<br />
Tel. No. (083) 228-3598<br />
FAX 63(83) 228-2819<br />
<span style="font-size: 12px;"><span style="color: #008000;"><strong><span style="background-color: #ffff00;"><!--email: <a href="mailto:guidance@ndmu.edu.ph">guidance@ndmu.edu.ph</a>--></span></strong></span></span></p>
    </div>
    <div class="col-sm">
<p class="rteindent1"><strong>The University Registrar</strong><br />
Notre Dame of Marbel University<br />
Alunan Avenue, City of Koronadal, South Cotabato<br />
9506 Philippines<br />
Tel. No. (083) 228-2368<br />
FAX 63(83) 228-2819<br />
<span style="font-size: 12px;"><span style="color: #008000;"><strong><span style="background-color: #ffff00;"><!--email: <a href="mailto:registrar@ndmu.edu.ph">registrar@ndmu.edu.ph</a>--></span></strong></span></span></p>
    </div>
    <div class="col-sm">
<p class="rteindent1"><strong>The Graduate School</strong><br />
Notre Dame of Marbel University<br />
Alunan Avenue, City of Koronadal, South Cotabato<br />
9506 Philippines<br />
Tel. No. (083) 228-2368<br />
FAX 63(83) 228-2819<br />
<span style="font-size: 12px;"><span style="color: #008000;"><strong><span style="background-color: #ffff00;"><!--email: <a href="mailto:graduates@ndmu.edu.ph">graduates@ndmu.edu.ph</a>--></span></strong></span></span></p>
    </div>
  </div>
</div>
<!----------------------------------------------------->

<!--2nd table-->
<div class="container">
  <div class="row">
    <div class="col-sm">
<p class="rteindent1"><strong>Champagnat Community College &#8211; CCC</strong><br />
Notre Dame of Marbel University<br />
Alunan Avenue, City of Koronadal, South Cotabato<br />
9506 Philippines<br />
Tel. No. (083) 228-3587<br />
FAX 63(83) 228-5538</p>
    </div>
    <div class="col-sm">
<p class="rteindent1"><strong>College of Engineering Technology (CET)</strong><br />
Notre Dame of Marbel University<br />
Alunan Avenue, City of Koronadal, South Cotabato<br />
9506 Philippines<br />
Tel. No. (083) 228-3599<br />
<span style="font-size: 12px;"><span style="color: #008000;"><strong><span style="background-color: #ffff00;"><!--email: <a href="mailto:graduates@ndmu.edu.ph">scitech@ndmu.edu.ph</a>--></span></strong></span></span></p>
    </div>
    <div class="col-sm">
<p class="rteindent1"><strong>College of Arts and Sciences (CAS)</strong><br />
Notre Dame of Marbel University<br />
Alunan Avenue, City of Koronadal, South Cotabato<br />
9506 Philippines<br />
Tel. No. (083) 228-3597</p>
    </div>
  </div>
</div>
<!----------------------------------------------------->

<!--3rd table-->
<div class="container">
  <div class="row">
    <div class="col-sm">
<p class="rteindent1"><strong>College Business Administration (CBA)</strong><br />
Notre Dame of Marbel University<br />
Alunan Avenue, City of Koronadal, South Cotabato<br />
9506 Philippines<br />
Tel. No. (083) 228-2226</p>
    </div>
    <div class="col-sm">
<p class="rteindent1"><strong>College of Education (CEd)</strong><br />
Notre Dame of Marbel University<br />
Alunan Avenue, City of Koronadal, South Cotabato<br />
9506 Philippines<br />
Tel. No. (083) 228-3598</p>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
<!----------------------------------------------------->
<br>
<br>
<br>
Source: <a style="color: #008000;text-decoration:none;" href="http://ndmu.edu.ph/">http://ndmu.edu.ph/</a>
<div class="fb-livechat">
<div class="ctrlq fb-overlay"></div>
<div class="fb-widget">
<div class="ctrlq fb-close"></div>
<div class="fb-page" data-href="https://www.facebook.com/kjjinn/" data-tabs="messages" data-width="360" data-height="400" data-small-header="true" data-hide-cover="true" data-show-facepile="false">
<blockquote cite="https://www.facebook.com/kjjinn/" class="fb-xfbml-parse-ignore"> </blockquote>
</div>
<div class="fb-credit">
<p><font color="white">&copy; Notre Dame of Marbel University</font></p>
</div>
<div id="fb-root"></div>
</div>
<a href="https://m.me/sarmadgardezi" title="Send us a message on Facebook" class="ctrlq fb-button"></a>
</div>

<script src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
  $(document).ready
  (function(){
    var t={delay:125,overlay:$(".fb-overlay"),widget:$(".fb-widget"),button:$(".fb-button")};setTimeout(function(){$("div.fb-livechat").fadeIn()},8*t.delay),$(".ctrlq").on("click",function(e){e.preventDefault(),t.overlay.is(":visible")?(t.overlay.fadeOut(t.delay),t.widget.stop().animate({bottom:0,opacity:0},2*t.delay,function(){$(this).hide("slow"),t.button.show()})):
t.button.fadeOut("medium",function(){t.widget.stop().show().animate({bottom:"30px",opacity:1},2*t.delay),t.overlay.fadeIn(t.delay)})})});</script>

{% endblock content %}