{% extends "ndmu/base.html" %}
{% load static %}
{% block content %}

<br>
<br>
<div id="main-content">


	<div class="container">
		<div id="content-area" class="clearfix">
			<div id="left-area">


			
				<article id="post-602" class="post-602 page type-page status-publish hentry">

				
					<h1 class="entry-title main_title">Core Values</h1>
				
				
					<div class="entry-content">
					<div class="content clearfix">
<div class="field field-name-body field-type-text-with-summary field-label-hidden">
<div class="field-items">
<div class="field-item even">
<p><span style="color: #000000;">Inspired by the charism of Saint Marcellin Champagnat, Notre Dame of Marbel University anchors its faith and life on the following core values as foundational qualities with which the Marist Brothers, Mission Partners, and students approach the entire educational process and academic atmosphere of the University:  Family Spirit, Marian, Love of Work, Preference for the Least Favored, Quality Education, Integrity of Creation, and Culture-sensitivity.</span></p>
<p>&nbsp;</p>
<h6><span style="color: #008000;"><strong>Family Spirit</strong></span></h6>
<p><span style="color: #000000;">St. Marcellin Champagnat’s great desire and legacy was in the style of relationship he encouraged between teachers and students- a relationship premised on love and expressed in a style which Marcellin called “family spirit.”   Akin  to the characteristic of a good family are: a warmth of welcome, acceptance, belongingness and authentic concern which should prevail where everyone has a sense of being valued and believed in, regardless of their role or their social standing.</span></p>
<p>&nbsp;</p>
<h6><span style="color: #008000;"><strong>Marian</strong></span></h6>
<p><span style="color: #000000;">Mary is for us the perfect model of the Marist Educator, as she was for Marcellin.  As a woman, a layperson and Jesus’ first follower, she is our inspiration in living out personal faith and virtue of simplicity.  As an educator of Jesus at Nazareth, she inspires our pedagogical approach.</span></p>
<p><span style="color: #000000;">The Marian aspect of our spirituality is expressed above all, in our identifying with her attitudes towards others and to God.  She is in our midst, a symbol of unity and mission, a witness to God’s solidarity with people in their needs and sufferings.</span></p>
<p>&nbsp;</p>
<h6><span style="color: #008000;"><strong>Love of Work</strong></span></h6>
<p><span style="color: #000000;">Love of work implies a cheerful and careful preparation of all the things one does. It values the dignity of work as a powerful means of self-fulfillment, of giving purpose and meaning to life, and of contributing to the general economics, social and cultural well-being.  It is manifested through a deep sense of personal planning and motivation that shows itself in the good use of time, talent and initiative.</span></p>
<p>&nbsp;</p>
<h6><span style="color: #008000;"><strong>Preference for the Least Favored</strong></span></h6>
<p><span style="color: #000000;">Preference for the least favored is to be with those who are excluded from the mainstream of society, and those whose material poverty leads to deprivation in relation to health, family life, schooling, and educational values.</span></p>
<p><span style="color: #000000;">With the emergence of social and cultural challenges confronting the world, preference to the least favored means being concerned toward the youth who are affected by the social, political, and cultural problems of the society.</span></p>
<p>&nbsp;</p>
</div>
</div>
</div>
</div>
<h6><span style="color: #008000;"><strong>Quality Education</strong></span></h6>
<p><span style="color: #000000;">A Marist school is a center of learning, of life and of evangelizing. It leads students “to learn, to know, to be competent, to live together and most especially, to grow as persons.”</span></p>
<p><span style="color: #000000;">Quality education is characterized as holistic where students are progressively initiated into their life-long challenge of harmonizing faith, culture and life. It provides educational programmes, curriculum contents, and teaching methods that meet the aspirations of students, parents and the community with regard to subject choices, career possibilities and educational needs of the community.</span></p>
<p><span style="color: #000000;">It gives emphasis to educating students by teaching them through good examples and inculcating in them the importance of the craft of teaching and its support systems.</span></p>
<p>&nbsp;</p>
<h6><span style="color: #008000;"><strong>Integrity of Creation</strong></span></h6>
<p><span style="color: #000000;">“Respect for the value of life” and “care for the mother earth” are two major themes in valuing the integrity of creation. It upholds life-giving values and promotes stewardship of the earth.</span></p>
<p>&nbsp;</p>
<h6><span style="color: #008000;"><strong>Culture Sensitivity</strong></span></h6>
<p><span style="color: #000000;">Culture must be accepted as the gift of every people, the expression of their dignity, liberty and creativity, and the testimony of their unique place in the history of humanity.</span></p>
<p><span style="color: #000000;">Culture sensitivity means openness and respect to the different culture of peoples. It promotes dialogue as a way of enhancing unity in diversity. On the individual level, it is a communication between two persons with different views, different values and traditions, to learn from each other in order for them to change and grow.</span></p>
<p><span style="color: #000000;">Culture sensitivity as a value promotes respect for the tri-people of Mindanao, develops programs for inter-faith dialogue and upholds advocacy on issues as a result of the emerging culture of the global world.</span></p>
<p>&nbsp;</p>


{% endblock content %}