{% extends "ndmu/base.html" %}
{% load static %}
{% block content %}
<br>
<br>
<center>
<div id="main-content">


	<div class="container">
		<div id="content-area" class="clearfix">
			<div id="left-area">


			
				<article id="post-610" class="post-610 page type-page status-publish hentry">

				
					<h1 class="entry-title main_title">University Hymn</h1>
				
				
					<div class="entry-content">
					<div>
<div>
<div>
<div>
<p><span style="color: #000000;">With praises, love and loyalty</span><br />
<span style="color: #000000;"> We sing, &#8220;All to Jesus through Mary.&#8221;</span><br />
<span style="color: #000000;"> For you taught us to have integrity,</span><br />
<span style="color: #000000;"> In loving God, our family, and our country.</span></p>
<p><span style="color: #000000;">Our hearts beats so true forever for you,</span><br />
<span style="color: #000000;"> For you shared everything you knew.</span><br />
<span style="color: #000000;"> From east to west wherever we may go,</span><br />
<span style="color: #000000;"> We&#8217;ll bring the best we learned from you.</span></p>
<p><span style="color: #000000;">Chorus:</span></p>
<p><span style="color: #000000;">Across the mountains, oceans and seas,</span><br />
<span style="color: #000000;"> We&#8217;re standing united ever loyal and proud to say.</span><br />
<span style="color: #000000;"> With culture, character and competence in harmony,</span><br />
<span style="color: #000000;"> Hail! Notre Dame of Marbel University.</span></p>
<p><span style="color: #000000;">You united us with one spirit</span><br />
<span style="color: #000000;"> For you showed what is blessed.</span><br />
<span style="color: #000000;"> To love each other even we compete;</span><br />
<span style="color: #000000;"> To live with respect and to wil &#8217;til our last breath.</span><br />
<span style="color: #000000;"> (Repeat Chrorus)</span></p>
<p><span style="color: #000000;">With culture, character and competence in harmony,</span><br />
<span style="color: #000000;"> Hail! Notre Dame of Marbel University</span></p>
<p>&nbsp;</p>
<p><span style="color: #000000;">by: Cyril F. Forro</span></p>
</div>
</div>
</div>
</div>
</div>
</article>
</div>
</div>
</div>
</div>
</center>
<br>
<br>
<p>&nbsp;</p>

{% endblock content %}