{% extends "ndmu/base.html" %}
{% load static %}
{% block content %}
<br>
<br>
<div id="main-content">


	<div class="container">
		<div id="content-area" class="clearfix">
			<div id="left-area">


			
				<article id="post-615" class="post-615 page type-page status-publish hentry">

				
					<h1 class="entry-title main_title">The Marist Brothers</h1>
				
				
					<div class="entry-content">
					<div>
<div>
<div>
<div>
<p><span style="color: #000000;">The Marist Brothers of the Schools (FMS), commonly known as the Marist Brothers, is a congregation of men who devoted their lives to Christian education throughout the world, running Catholic schools or otherwise for the training and guidance of youth.</span></p>
<p>&nbsp;</p>
<p><span style="color: #000000;">The congregation was founded in France in 1817 by Saint Marcellin Champagnat, who realized the values of Catholic Education in schools wherein God, the Blessed Virgin, Catholic Doctrine, and morality are part of the daily program.</span></p>
<p>&nbsp;</p>
<p><span style="color: #000000;">The greatest concentration of Marist Brothers is in France, Australia, Spain, Brazil, Mexico, Canada, The United States, Cairo, Nigeria, Zimbabwe, Argentina, New Zealand, Belgium, and Italy. In Asia, The Marist Brothers are in South Korea, Japan, Taiwan, Guam, Hong Kong, Malaysia, Pakistan, Sri Lanka, and the Philippines.</span></p>
<p>&nbsp;</p>
<p><span style="color: #000000;">The Marists are sure of their future in the Philippines for already many Filipinos have become Marist Brothers and more young men are now in training in the Aspirancy  in Lagao, General Santos City, in the novitiate in Tamontaka, Cotabato City and in the Scholasticate in Marikina, Metro Manila.</span></p>
<p>&nbsp;</p>
<p><span style="color: #000000;">Presently, the Filipino Marist Brothers administer 1 college and 2 Universities: Notre Dame of Marbel University, Notre Dame of Dadiangas University, and Notre Dame of Kidapawan College. It also runs seven high schools and four elementary schools. These schools are located in Kidapawan City, City of Koronadal, Marikina City, Cotabato City, General Santos City, and Jolo.</span></p>
</div>
</div>
</div>
</div>
<p>&nbsp;</p>
<p><span style="color: #000000;">              </span></p>
<p><strong><span style="color: #000000;">SAINT MARCELLIN CHAMPAGNAT</span></strong></p>
<p><span style="color: #000000;">(Founder, Marist Brothers of the Schools)</span></p>
<p><span style="color: #000000;"> </span></p>
<p><span style="color: #000000;">Inspired by a dying boy‟s ignorance of the fundamentals of his faith, Marcellin Champagnat, a young French priest who was working in the mountainous regions of Eastern France founded the order of Teaching Brothers or the Marist Brothers of the Schools on January 2, 1817.</span></p>
<p>&nbsp;</p>
<p><span style="color: #000000;">As of January 2002 statistics from the Marist Brothers Generalate in Rome, there are 4,550 Brothers carrying the work of the Founder in 76 countries of the world teaching the youth from the barrio schools of the rural areas to the pontifical universities of the urban cities. The total number includes the 45 Brothers working in the Philippines.</span></p>
<p>&nbsp;</p>
<p><span style="color: #000000;">St. Marcellin Champagnat was a child of the French Revolution. Born on May 20, 1789, he dedicated himself to the service of God and his neighbor. He was ordained priest in 1816 and became the parish priest of La Valla. It was in one of the hamlets where he met the dying boy who inspired him to found the congregation of the Marist Brothers. Due to the hardship of being a country priest and the hard work in building his congregation, he died at the young age of 51 on June 6, 1840. He was beatified in May 29, 1955 by Pope Pius XII and raised to sainthood in April 18, 1999 by Pope John Paul II.</span></p>
<p>&nbsp;</p>
<p><span style="color: #000000;">The founder of the Marist Brothers was also the co-founder of the Order of the Society of Mary (SM), a branch of the Marist Family. He was a man of faith and charity, of solid virtue and common sense; daring, hardworking, virile, austere, and devoted to the Blessed Mother, whom he calls his “Ordinary Resource.” His motto was: “All to Jesus through Mary, All to Mary for Jesus”. His greeting, which he taught the Brothers to say among themselves, “Praise be Jesus Christ, and Mary His Mother” is perpetuated in the congregation even to this day.</span></p>
<br>
{% endblock content %}