{% extends "ndmu/base.html" %}
{% load static %}
{% block content %}

<br>
<br>
<br>
<div>
<div class="container">
<div>
<div>
<article>
<h1>Objectives</h1>
<div>
<div>
<div>
<div>
<div>
<p><span style="font-size: 14px; color: #000000;">The Vision-Mission of Notre Dame of Marbel University is capsulated in three words:  <strong>Character, Competence and Culture</strong>.</span></p>
<p><span style="color: #000000;">In view of this, NDMU aims to:</span></p>
<ul>
<li><span style="color: #000000;">provide programs of studies responsive to the educational needs of the  local, national and international communities;</span></li>
<li><span style="color: #000000;">uphold educational excellence and spiritual/moral formation;</span></li>
<li><span style="color: #000000;">train competent individuals imbued with a sense of nationalism and social responsibility;</span></li>
<li><span style="color: #000000;">engage in researches for human development and advancement of society;</span></li>
<li><span style="color: #000000;">inculcate respect for and appreciation of cultural diversity;</span></li>
<li><span style="color: #000000;">develop innovative programs that contribute to the enhancement of peace and development;</span></li>
<li><span style="color: #000000;">create relevant  community involvement programs responsive to the needs of the poor especially the disadvantaged youth;</span></li>
<li><span style="color: #000000;">promote active participation in the activities of the local Church in fulfilling her vision, mission and thrusts;</span></li>
<li><span style="color: #000000;">network and collaborate with partner agencies in enhancing the mission; and</span></li>
<li><span style="color: #000000;">instill the Marist Spirit and tradition embodied in the motto “All to Jesus through Mary.”</span></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</article>
</div>
</div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

{% endblock content %}