{% extends "ndmu/base.html" %}
{% load static %}
{% block content %}
<br>
<br>
<div id="main-content">


	<div class="container">
		<div id="content-area" class="clearfix">
			<div id="left-area">


			
				<article id="post-630" class="post-630 page type-page status-publish hentry">

				
					<h1 class="entry-title main_title">School Facilities</h1>
				
				
					<div class="entry-content">
					<div class="content clearfix">
<div class="field field-name-body field-type-text-with-summary field-label-hidden">
<div class="field-items">
<div class="field-item even">
<p style="text-align: justify;"><span style="color: #000000;">Notre Dame of Marbel University occupies an 8-hectare lot main campus along the busy Alunan Avenue, City of Koronadal, South Cotabato. It is in the heart of the City of KOronadal and adjacent to the University is the South Cotabato DepEd Division office, the SMRAA Sports Complex, the South Cotabato Gymnasium and Cultural Center, and the Development Bank of the Philippines and within walking distance to the major commercial centers of the City, banks, government agencies, private companies/establishments, the City Hall of Koronadal and the Provincial Capitol of South Cotabato.</span></p>
<p style="text-align: justify;"><span style="color: #000000;">By virtue of its location and having very good cemented roads and highways, the rest of Koronadal and its environs are easily accessible by private or public transportation. Through the years, Notre Dame of Marbel University has become an important landmark sharing the development growth of a growing Agro-Industrial zone in the Southern Philippines.</span></p>
<p style="text-align: justify;"><span style="color: #000000;">The University with thirty (30) large and small functional buildings, has a population of 10,000 consisting of administrators, faculty members, students (Elementary, High School, College, Graduate School and Short-term courses) and Non-teaching support staff.</span></p>
<p style="text-align: justify;"><span style="color: #000000;">Seventy-five percent of the students are from the rural area outside the City of Koronadal, and close to 85% are children of farmers, whose income are very much dependent on agriculture.</span></p>
<p style="text-align: justify;"><span style="color: #000000;">NDMU has other campuses which serve the education needs of South Cotabato and its environs. Five (5) kilometers away from the main campus is a Demonstration Farm, complete with structures and instructional facilities for the Agriculture Department.</span></p>
<p style="text-align: justify;"><span style="color: #000000;">Planted on the 35-hectare Demo Farm are varied crops plus 800 mango trees and other fruit trees which meet the instructional and laboratory needs of the Agriculture students.</span></p>
<p style="text-align: justify;"><span style="color: #000000;">The Demo Farm also houses livestocks for academic purposes and a man-made lake for tilapia culture. With the most modern post harvest facilities installed in the Demo Farm, it also serves as a training center for the CCC-Farmers College and other Agriculture-based project of the University.</span></p>
<p style="text-align: justify;"><span style="color: #000000;">Currently, NDMU is embarking on cutflowers and has acquired a 4 hectare lot for the purpose.To be more responsive to the plight of its Grant-in-Aid/working students, NDMU acquired a 500 sq m. lot with a 2-storey house in Pantua Village, City of Koronadal, which answers the housing facility needs of the GIA of the University.</span></p>
<p style="text-align: justify;"><span style="color: #000000;">Aware of its role in the community, NDMU expanded to a newly acquired 5.5 hectare lot along General Santos Drive, City of Koronadal, where the most modern facilities for the Basic Education Department (Elementary/High School) are housed.</span></p>
<p style="text-align: justify;"><span style="color: #000000;">Eight (8) large and small buildings presently occupy this land area, the latest of which is a 3-storey HS Science building where the library (with internet connection), and the well-equipped science computer laboratories are situated.</span></p>
<p class="rteindent1" style="text-align: justify;"><span style="color: #000000;"><strong> Other Facilities of the school:</strong></span></p>
<ul style="text-align: justify;">
<li class="contentText rteindent2"><span style="color: #000000;"><strong>Library</strong></span></li>
<li class="contentText rteindent2"><span style="color: #000000;"><strong>Computer Center</strong></span></li>
<li class="contentText rteindent2"><span style="color: #000000;"><strong>Diagnostics Laboratory</strong></span></li>
<li class="contentText rteindent2"><span style="color: #000000;"><strong>SMART SWEEP Laboratory</strong></span></li>
<li class="contentText rteindent2"><span style="color: #000000;"><strong>Athletics and Fitness Center</strong></span></li>
<li class="contentText rteindent2"><span style="color: #000000;"><strong>SMC Hall and Gymnasium</strong></span></li>
</ul>
</div>
</div>
</div>
</div>
<br>
<br>
{% endblock content %}