{% extends "ndmu/base.html" %}
{% load static %}
{% block content %}
<br>
<br>
<div id="main-content">


	<div class="container">
		<div id="content-area" class="clearfix">
			<div id="left-area">


			
				<article id="post-612" class="post-612 page type-page status-publish hentry">

				
					<h1 class="entry-title main_title">University Seal</h1>
				
				
					<div class="entry-content">
					<p class="rtejustify"><span style="color: #000000;">A Notre Damian should keep in view the ideals on which the Notre Dame of Marbel University was founded. Love for country and sanctity in education are all directed toward the attainment of the goal: “<strong>GOD’S GREATER HONOR AND GLORY THROUGH MARY</strong>”.</span></p>
<p><span style="color: #000000;">These are the ideals fittingly illustrated in the seal of the University. The tripartition with the background of red, white and blue symbolizes the Philippines and its three geographical divisions.</span></p>
<br>
<p class="rtecenter"><span style="color: #000000;"><strong> NDMU LOGO<img style="float: right; margin: 5px 15px;" src="{% static 'images/ndmu.png' %}" alt="seal" /></strong></span></p>
<p class="rtejustify"><span style="color: #000000;">On the left, against the background is Mt. Matutum towering over the province of South Cotabato. At its base the emblem “<strong>A</strong>” the superimposed the “<strong>M</strong>” for <strong>AVE MARIA</strong>” is the earliest symbol of the Marist Brothers whose motto is “ <strong>Ad Jesum per Mariam</strong>” (All to Jesus through Mary).</span></p>
<p class="rtejustify"><span style="color: #000000;">On the right is a book in which crucifix lies, representing Christian Education, these symbols are emblazoned on a shield to imply that armed and protected by the NDMU ideals, the students serve God, country and neighbor.</span></p>
<p class="rtejustify"><span style="color: #000000;">Above the shield are the twelve stars of the Blessed Virgin Mary, the Patroness and the Protectress of the Philippines and of the Notre Dame of Marbel University</span></p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
{% endblock content %}