{% extends "ndmu/base.html" %}
{% load static %}
{% block content %}
<hr class="featurette-divider">
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Notre Dame of Marbel University <br><font size="5px">Senior High School Teachers</font></h1>
        </div>
      </section>
<br>
   <section class="gallery-block cards-gallery">
      <div class="container">

          <div class="row">
              <div class="col-md-6 col-lg-4">
                  <div class="card border-0 transform-on-hover">
                      <img class="card-img-top" src="{% static 'images/teacher.jpg' %}" alt="Generic placeholder image">
                    <br> 
                <center><p class="card-text">Mr. Kent John S. Jamila</p></center>
                                  <hr>                   
                <div class="card-body">
                  <center><p class="card-text">Grade 12 - STEM 8</p></center>
                  <br>
                </div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4">
                  <div class="card border-0 transform-on-hover">
                      <img src="{% static 'images/teacher.jpg' %}" alt="Card Image" class="card-img-top">
                    <br> 
                <center><p class="card-text">Mr. Kent John S. Jamila</p></center>
                                  <hr>                   
                <div class="card-body">
                  <center><p class="card-text">Grade 12 - STEM 8</p></center>
                  <br>
                </div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4">
                  <div class="card border-0 transform-on-hover">
                      <img src="{% static 'images/teacher.jpg' %}" alt="Card Image" class="card-img-top">
                    <br> 
                <center><p class="card-text">Mr. Kent John S. Jamila</p></center>
                                  <hr>                   
                <div class="card-body">
                  <center><p class="card-text">Grade 12 - STEM 8</p></center>
                  <br>
                </div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4">
                  <div class="card border-0 transform-on-hover">
                      <img src="{% static 'images/teacher.jpg' %}" alt="Card Image" class="card-img-top">
                    <br> 
                <center><p class="card-text">Mr. Kent John S. Jamila</p></center>
                                  <hr>                   
                <div class="card-body">
                  <center><p class="card-text">Grade 12 - STEM 8</p></center>
                  <br>
                </div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4">
                  <div class="card border-0 transform-on-hover">
                      <img src="{% static 'images/teacher.jpg' %}" alt="Card Image" class="card-img-top">
                    <br> 
                <center><p class="card-text">Mr. Kent John S. Jamila</p></center>
                                  <hr>                   
                <div class="card-body">
                  <center><p class="card-text">Grade 12 - STEM 8</p></center>
                  <br>
                </div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4">
                  <div class="card border-0 transform-on-hover">
                      <img src="{% static 'images/teacher.jpg' %}" alt="Card Image" class="card-img-top">
                    <br> 
                <center><p class="card-text">Mr. Kent John S. Jamila</p></center>
                                  <hr>                   
                <div class="card-body">
                  <center><p class="card-text">Grade 12 - STEM 8</p></center>
                  <br>
                </div>
                  </div>
              </div>
          </div>
      </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
 

{% endblock content %}