{% extends "ndmu/base.html" %}
{% block content %}

<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
</style>
<center>
<br>
<h1>Board of Trustees</h1>
<div>
<pre><span style="font-family: arial,helvetica,sans-serif;"><span style="color: #008000;"><span style="font-size: 22px;"><strong>BOARD OF TRUSTEES FOR SY 2016-2017</strong></span></span>
</span></pre>
<table style="height: 276px; width: 721px;">
<tbody>
<tr>
<td style="width: 180px;"><strong><em>Chairman of the Board</em></strong></td>
<td style="width: 531px;">
<h5><strong>Atty. Tomas Falgui, II</strong></h5>
<p>Falgui Law Office</p>
<p>General Santos City</td>
</tr>
<tr>
<td style="width: 180px;"><strong><em>Corporate Secretary </em></strong></td>
<td style="width: 531px;">
<h5><strong>Bro. Lindley Sionosa, FMS</strong></h5>
<p>Vice Provincial and Phil. Sector Coordinator</p>
<p>Marist Brothers of East Asia Province</p>
<p>c/o Marist School, Marikina City</td>
</tr>
<tr>
<td style="width: 180px;"> <em><strong>Corporate Treasurer</strong></em></td>
<td style="width: 531px;">
<h5><strong>Bro. Paterno Corpus, FMS</strong></h5>
<p>President, Notre Dame of Dadiangas University</p>
<p>Gen. Santos City</td>
</tr>
<tr>
<td style="width: 180px;"> <em><strong>President</strong></em></td>
<td style="width: 531px;">
<h5><strong>Bro. Wilfredo Lubrico, FMS</strong></h5>
<p>Notre Dame of Marbel University</p>
<p>Koronadal City</td>
</tr>
<tr>
<td style="width: 180px;"><strong><em>Members:</em></strong></td>
<td style="width: 531px;"></td>
</tr>
<tr>
<td style="width: 180px;"></td>
<td style="width: 531px;"><strong>Bro. Noel Fernandez, FMS</strong></p>
<p>Principal</p>
<p>Integrated Basic Educ. Dept.</p>
<p>Notre Dame of Dadiangas University</p>
<p>Gen. Santos City</td>
</tr>
<tr>
<td style="width: 180px;"></td>
<td style="width: 531px;"><strong>Bro. Niño Pizarro, FMS</strong></p>
<p>President</p>
<p>Marist School</p>
<p>Marikina Heights, Marikina City</td>
</tr>
<tr>
<td style="width: 180px;"></td>
<td style="width: 531px;"><strong>Bro. Rommel Ocasiones, FMS</strong></p>
<p>Student Activity Coordinator</p>
<p>Notre Dame of Cotabato</p>
<p>Cotabato City</td>
</tr>
<tr>
<td style="width: 180px;"></td>
<td style="width: 531px;"><strong>Dr. Mario Dideles, FPOA</strong></p>
<p>Medical Practitioner</p>
<p>President, Notre Dame of Marbel Alumni Association</p>
<p>Gen. Santos Doctors Hospital</p>
<p>Gen. Santos City</td>
</tr>
<tr>
<td style="width: 180px;"></td>
<td style="width: 531px;"><strong>Fr. Anthony Ceasar Pabayo, SJ</strong></p>
<p>Director, Quality Management Office, and Faculty</p>
<p>Graduate School,  School of Education</p>
<p>Xavier University, Cagayan de Oro City</td>
</tr>
<tr>
<td style="width: 180px;"></td>
<td style="width: 531px;"><strong>Mrs. Lolly B. Estacion</strong></p>
<p>Executive Director</p>
<p>Notre Dame Educational Association</p>
<p>Tacurong City</td>
</tr>
</tbody>
</table>
</center>
<br>
{% endblock content %}