{% extends "ndmu/base.html" %}
{% load static %}
{% block content %}
<br>
<br>
<div id="main-content">


	<div class="container">
		<div id="content-area" class="clearfix">
			<div id="left-area">


			
				<article id="post-608" class="post-608 page type-page status-publish hentry">

				
					<h1 class="entry-title main_title">University Colors</h1>
				
				
					<div class="entry-content">
					<div class="content clearfix">
<div class="field field-name-body field-type-text-with-summary field-label-hidden">
<div class="field-items">
<div class="field-item even">
<p><span style="color: #000000;">Color symbolism is the most universal language spoken. From earliest times, colors have held a special meaning in peoples&#8217; lives in different cultures.</span></p>
<p>&nbsp;</p>
<p><span style="color: #000000;">NDMU, as a catholic Marist institution, adopted <strong>Gold</strong> and <strong>Green</strong> as its official colors. The color <strong>Gold </strong>is the universal symbols of pure light, divine intelligence, virtue, excellence, and the glory of God. On the hand, the color <strong>Green</strong> is the universal color of nature that represents life, hope, joy and eternity.</span></p>
<p>&nbsp;</p>
<p><span style="color: #000000;">These colors, <strong>Gold</strong> and<strong> Green</strong>, capture the ideals of the university.</span></p>
<p>&nbsp;</p>
<p><span style="color: #000000;">The color <strong>Gold</strong> represents the univerisity&#8217;s commitment in upholding academic excellence and integral formation of students, imbued with Marial virtues and values directed towards the goal: <strong>&#8220;God&#8217;s Greater Honor and Glory through Mary&#8221;</strong>.</span></p>
<p>&nbsp;</p>
<p><span style="color: #000000;">The color <strong>Green</strong> speaks of the university&#8217;s pedagogical approach inspired by St. Marcellin Champagnat, the founder of the Marist Brothers &#8211; an approach to education which stresses the harmony of faith, life and culture.</span></p>
<p>&nbsp;</p>
<p><span style="color: #000000;">Furthermore, the colors <strong>Gold</strong> and <strong>Green</strong> signify the university&#8217;s commitment and unity to all Notre Dame Educational Association (NDEA) members schools.</span></p>
<p>&nbsp;</p>
<ul>
<li class="rteindent1"><span style="color: #000000;"><span style="color: #ff9900;"><strong>Gold</strong> </span>symbolizes the golden virtues of the Blessed Virgin Mary-NDEA&#8217;s Patroness.</span></li>
<li class="rteindent1"><span style="color: #000000;"><span style="color: #008000;"><strong>Green</strong></span> indicates NDEA&#8217;s unceasing pursuit of the evergreen laurels of quality education</span></li>
</ul>
</div>
</div>
</div>
</div>
<br>
<p>&nbsp;</p>

{% endblock content %}