{% extends "ndmu/base.html" %}
{% load static %}
{% block content %}

<br>
<br>
<br>
	<div class="container">
		<div>
			<div>		
				<article>
					<h1>Vision &#8211; Mision of NDMU</h1>
					<div>
					<p><span style="color: #008000;"><span style="font-size: 14px;"><strong>VISION</strong></span></span></p>
<p style="text-align: justify;"><span style="color: #000000;">Inspired by the charism of St. Marcellin Champagnat, Notre Dame of Marbel University envisions to be a Catholic Marist institution of learning dedicated to the spiritual, moral and academic formation of men and women who exemplify competence and social responsibility in the service of God and humanity.</span></p>
<p>&nbsp;</p>
<p><span style="font-size: 14px; color: #008000;"><strong>MISSION</strong></span></p>
<p><span style="color: #000000;">As a Catholic institution founded on Marist traditions, Notre Dame of Marbel University commits itself to:</span></p>
<ul>
<li><span style="color: #000000;"><strong>build  character</strong> &#8211; by providing quality Christian education to the youth making them capable of being leaven for responsible Christian living.</span></li>
</ul>
<ul>
<li><span style="color: #000000;"><strong>develop competence</strong> – by promoting the principles of quality education and by generating new knowledge that fosters human development and advancement of the society.</span></li>
</ul>
<ul>
<li><span style="color: #000000;"><strong>respect culture</strong> – by inculcating the principles of cultural solidarity, by instilling appreciation and preservation of the Filipino cultural heritage, and by promoting the Marist tradition where students are progressively initiated into their life-long challenge of harmonizing faith, culture and life.</span></li>
</ul>
<p>&nbsp;</p>
<p><span style="color: #008000;"><span style="font-size: 14px;"><strong>MOTTO</strong></span></span></p>
<p><span style="color: #000000;">“Character, Competence and Culture in harmony”</span></p>
</div>
<br>
<br>
<br>
<br>
<p>&nbsp;</p>
<p>&nbsp;</p>
{% endblock content %}