{% extends "ndmu/base.html" %}
{% load static %}
{% block content %}
<hr class="featurette-divider">
    <main role="main">	
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">About NDMU</h1>
          	<p>This site is indented for Notre Dame of Marbel University Senior High School Students.</p> 
        </div>
      </section>
<br>
	<br>
          <h1 class="jumbotron-heading">About NDMU</h1>
	<p></p>
	<font size="4px">
	<ul>
		<li><a style="color: #008000;text-decoration:none;" href="{% url 'ndmu-trustees' %}"><strong><font size="4px">Board of Trustees</strong></a></li>
	</ul>	
	<ul>
		<li><a style="color: #008000;text-decoration:none;" href="{% url 'ndmu-administration' %}"><strong><font size="4px">Administration</strong></a></li>
	</ul>			
	<ul>
		<li><a style="color: #008000;text-decoration:none;" href="{% url 'ndmu-history' %}"><strong><font size="4px">History</strong></a></li>
	</ul>
	<ul>
		<li><a style="color: #008000;text-decoration:none;" href="{% url 'ndmu-vision' %}"><strong><font size="4px">Vision-Mission</strong></a></li>
	</ul>	
	<ul>
		<li><a style="color: #008000;text-decoration:none;" href="{% url 'ndmu-objectives' %}"><strong><font size="4px">Objectives</strong></a></li>
	</ul>	
	<ul>
		<li><a style="color: #008000;text-decoration:none;" href="{% url 'ndmu-corevalues' %}"><strong><font size="4px">Core Values</strong></a></li>
	</ul>	
	<ul>
		<li><a style="color: #008000;text-decoration:none;" href="{% url 'ndmu-citation' %}"><strong><font size="4px">Citations and Awards</strong></a></li>
	</ul>	
	<ul>
		<li><a style="color: #008000;text-decoration:none;" href="{% url 'ndmu-colors' %}"><strong><font size="4px">University Colors</strong></a></li>
	</ul>	
	<ul>
		<li><a style="color: #008000;text-decoration:none;" href="{% url 'ndmu-hymn' %}"><strong><font size="4px">University Hymn</strong></a></li>
	</ul>
	<ul>
		<li><a style="color: #008000;text-decoration:none;" href="{% url 'ndmu-seal' %}"><strong><font size="4px">University Seal</strong></a></li>
	</ul>
	<ul>
		<li><a style="color: #008000;text-decoration:none;" href="{% url 'ndmu-brothers' %}"><strong><font size="4px">The Marist Brothers</strong></a></li>
	</ul>
	<ul>
		<li><a style="color: #008000;text-decoration:none;" href="{% url 'ndmu-strands' %}"><strong><font size="4px">Senior High School Strands</strong></a></li>
	</ul>
	<ul>
		<li><a style="color: #008000;text-decoration:none;" href="{% url 'ndmu-facilities' %}"><strong><font size="4px">School Facilities</strong></a></li>
	</ul>
	<ul>
		<li><a style="color: #008000;text-decoration:none;" href="{% url 'ndmu-teachers' %}"><strong><font size="4px">Senior High School Teachers</strong></a></li>
	</ul>
	<ul>
		<li><a style="color: #008000;text-decoration:none;" href="{% url 'ndmu-developers' %}"><strong><font size="4px">Developers</strong></a></li>
	</ul>				
</font>
<br>
<br>
<br>
<br>
<br>
<br>
Source: <a style="color: #008000;text-decoration:none;" href="http://ndmu.edu.ph/">http://ndmu.edu.ph/</a>

{% endblock content %}